<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NHSVMTrainPro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>605B74701BDDFE5A00393C27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>605B74891BDDFE5B00393C27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>605B74941BDDFE5B00393C27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
